html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: 'Avenir Next', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS',
    sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

